@model IEnumerable<weblog.Models.Blog.Post>
@addtaghelper "Microsoft.AspNet.Mvc.TagHelpers"
    
<h2>Draft Posts</h2>
<table>
    <tr><th>Title</th></tr>
    @foreach (var draft in Model)
    {
        <tr><td>@Post.Title</td></tr>
    }
</table>
